/* fonts */
@font-face {
    font-family:"uni-Regular" ;
    src: url(../fonts/UniRegular.ttf);
}
@font-face {
    font-family:"uni-Bold" ;
    src: url(../fonts/UniBold.ttf);
}
@font-face {
    font-family:"uni-Black" ;
    src: url(../fonts/UniBlack.ttf);
}
@font-face {
    font-family:"Bangla-Font" ;
    src: url(../fonts/HindSiliguri-Medium.ttf);
}


/* colors variable */
:root{
    --bg-primary:#1A202C;
    --bg-secondary:#C53030;
    --text-primary:#4A5568;
}


/* Utility classes */

*{
    font-family: "Uni-Regular";
}
.ecow-bg-primary{
    background-color: var(--bg-primary);
}
.ecow-bg-secondary{
    background-color: var(--bg-secondary);
}
.ecow-text-primary{
    color: var(--text-primary);
}
.ecow-text-secondary{
    color: var(--bg-secondary);
}
.ecow-form-border-color{
    border-color: var(--bg-secondary);
}
.font-bold{
    font-family: "uni-Bold";
}
.font-black{
    font-family: "uni-Black";
}
.focus-border-0:focus{
    border: none !important;
}
.focus-shadow-0:focus{
    box-shadow: none !important;
}
.font-bangla{
    font-family: "Bangla-Font";
}
.bg-black{
    background-color: black;
}

.bg-last-slider{
    background-color: rgb(20, 97, 42);
}
.bg-middle-slider{
    background-color:rgb(19, 62, 182);
}

/* Nav Top */
header form input.form-control{
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
header form button.btn{
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}



/* Cows Section */
#cows .container .card img,#goats .container .card img{
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}
#cows .container .card:hover img,#goats .container .card:hover img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
